/assignment 2/DRAED/build/
/assignment 2/DRAED/nbproject/private/
/assignment 2/DRAED/Healthcaresystem/Healthcaresystem/build/
/assignment 2/DRAED/Healthcaresystem/Healthcaresystem/nbproject/private/
/assignment 2/DRAED/Assignment_2_AED/Assignment_4/Assignment_4/build/
/assignment 2/DRAED/Assignment_2_AED/Assignment_4/Assignment_4/dist/
/assignment 2/DRAED/Assignment_2_AED/Assignment_4/Assignment_4/nbproject/private/
